#moveleft {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;

}
#fuckthis {
  margin-left: 150px;
  margin-top: 20px;
}

body{
  background-image: url("/assets/spaceBackground.jpg")
}
#op {
  opacity: 0.9;
}
#logo{
  width: 200px;
  height: 100px;
  margin-left: 375px;
  margin-top: 10px;
}
#submit {
padding-top: 4px;
padding-bottom: 4px;
margin-top: 0px;
padding-left: 10px;
padding-right: 10px;
}

#planetShowInfo{
  margin-left: 138px;
  margin-top: 0px;

}

#searchStatus{
  font-weight: bold;
  text-decoration: underline;
}

#planetName{
  font-weight: bold;
  text-decoration: underline;
}
