<div id='indexWell' class="one column stackable ui grid">
  <div class="column">
    <div id="indexWellHeader" class="ui segment">
      <center><h1>Galactic Trip Matcher</h1></center>
      <center>
        <video id="indexVideo" width="700" height="500" autoplay loop>
          <source src="/assets/starwars.mp4" type="video/mp4">
        </video>
      </center>
      <div id="indexStartLink">
        <center><a href="/search"><div id='submit' class='massive ui button' >Start</div></a></center>
      </div>
      <center><img id="empireLogo" src="/assets/emblem.png" /></center>
      <center><h4>Service Provided Courtesy Of "The Imperial Office Of Galactic Travel"</h4></center>
      <center><h4>Planet Information Provided By "SWAPI", Website:"http://swapi.co/" </h4></center>
    </div>
  </div>
</div>
